body{
    background-color: black;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/* nav */
.navigation{
    width: 95vw;
    margin-top: 20px;
    margin-left: 15Px;
}
.logo{
    width: 200px;
}
.mainbar{
    display: flex;
}

#centerhead{
    display: flex;
    justify-content: center;
    width: 2000vw;
    justify-content: space-evenly;
}
.switch{
    display: flex;
    /* justify-content: flex-end; */
    
}
button{
    
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: white;
    border-radius: 50px;
    font-size: 20px;
}
.mail{
    display: flex;
    justify-content: center;
}

.socialicon{
    display: flex;
    justify-content: space-evenly;
    width: 3000px;
}
.githublogo{
    margin-top:10px ;
    width: 30px;
    height: 30px;
}
.whatsapplogo{
    margin-top:10px ;
    width: 30px;
    height: 30px
}
a{
    text-decoration: none;
    color: white;
    transition: background-color 0.5s ease-out 0.5ms;
}




/* first stack */
.allinonehorizontal{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.onehorizontal{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* margin-left: 60px; */
    height: 100vh;
    width: 97vw;
}
.firststack{
    height:320px;
    width: 350px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    transition: background-color 0.5s ease-out 0.5ms;
    transition: box-shadow 0.5s ease-out 0.5ms;

    
}
.firststack:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px 2px #48abe0;
}

.groove{
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
}
.textof1{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    line-height: 3px;
}

.headlineone{
    color: rgb(112, 112, 112);
}

.secondline{
    font-weight: bold;
    font-size: x-large;
}

/* second stack */



.secondstack{
    height:320px;
    width: 350px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    transition: background-color 0.5s ease-out 0.5ms;
    transition: box-shadow 0.5s ease-out 0.5ms;


    
}
.secondstack:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px 2px #48abe0;
}



/* mobile */
.vertical{
    height:500px;
    width: 350px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    transition: background-color 0.5s ease-out 0.5ms;
    transition: box-shadow 0.5s ease-out 0.5ms;


}
.vertical:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px 2px #48abe0;
}
.mobile{
    height: 400px;
    display: flex;
    margin-left: -70px;
}
.textofhorizontal{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    line-height: 3px;
}

h1{
    margin-top:-330px ;
    margin-left: 200px;
    font-size: 100px;
}

/* 2ndrow */
.rowof2{
   display: flex;
   justify-content: space-evenly;
   
  
   /* justify-content: center; */
}

.calendarstack{
    height:320px;
    width: 350px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    transition: background-color 0.5s ease-out 0.5ms;
    transition: box-shadow 0.5s ease-out 0.5ms;

    
}
.calendarstack:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px 2px #48abe0;
}

.calendar{
    width: 300px;
    height: 207px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
    justify-self: center;

    
}

.logostack{
    height:320px;
    width: 350px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    transition: background-color 0.5s ease-out 0.5ms;
    transition: box-shadow 0.5s ease-out 0.5ms;

    
}
.logostack:hover{
    background-color: rgb(0, 0, 0);
        box-shadow: 0 0 30px 2px #48abe0;

}

.logodesigning{
    width: 300px;
    height: 207px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
    justify-self: center;
}

.superoverstack{
    height:320px;
    width: 350px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    transition: background-color 0.5s ease-out 0.5ms;
    transition: box-shadow 0.5s ease-out 0.5ms;

}
.superoverstack:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px 2px #48abe0;
}

.superover{
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
}
footer{
    text-align: center;
    
}
.footext{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: smaller;
    color: rgb(69, 68, 68);
}
.footend{
    margin-top: 70px;
    width:50px;





}




